#inSide,#outSide  {
width: 100%;
display: flex;
	position: relative;
  text-align: center;
  color: white;
}
.inside,.outside {
position: absolute;
  left: 50%;
	top:4px;
  transform: translate(-50%, -50%);
}
img{
	width: 50%;
	height: auto;
}
body {
	background-color: blue;
}
