.inSide,.outSide  {
	height: 90%;
	display: flex;
	justify-content: center;
	position: relative;
	text-align: center;
	color: white;
}
.rml {
	width: 33.3%;
	height: auto;
}
.insides,.outsides {
position: absolute;
  left: 50%;
	top:8%;
	text-shadow: 
		-0   -2px 0   #000000,
		 0   -2px 0   #000000,
		-0    2px 0   #000000,
		 0    2px 0   #000000,
		-2px -0   0   #000000,
		 2px -0   0   #000000,
		-2px  0   0   #000000,
		 2px  0   0   #000000,
		-1px -2px 0   #000000,
		 1px -2px 0   #000000,
		-1px  2px 0   #000000,
		 1px  2px 0   #000000,
		-2px -1px 0   #000000,
		 2px -1px 0   #000000,
		-2px  1px 0   #000000,
		 2px  1px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000,
		-2px -2px 0   #000000,
		 2px -2px 0   #000000,
		-2px  2px 0   #000000,
		 2px  2px 0   #000000;
  transform: translate(-50%, -50%);
}

img{
	width: 100%;
	height: auto;
}
body {
	background-color: blue;
}
