
#pi1front,#pi1back,#pi2front,#pi2back  {
width: 100%;
display: flex;
	position: relative;
  text-align: center;
  color: white;
}
.front {
  position: absolute;
  left:25%
}
img{
	width: 50%;
	height: auto;
}
body {
	background-color: blue;
}
